body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}
.fa{
  margin-top: 0;
}
a{
  color: black;
}
.bold{
  font-weight: bold;
}
.mt-5{
  margin-top: 5%;
}
.logo{
  height: 16vh;
}
